/* overrides*/

.nav-pills {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-lane-count {
    line-height: 1;
}

.modal {
  display: block !important;
}

.modal-body {
  height: 510px;
  overflow: scroll;
}

.estimation .card-body {
  padding-left: 0;
  padding-right: 0;
}

.quick-select-options .nav-link,
.quick-select-indicator .nav-link {
  padding-left: 0;
  padding-right: 0;
}
