<div class="container mt-3" ng-controller="exceptionCtrl">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#!/all_ops">All opprotunities</a>
      </li>
      <li class="breadcrumb-item active">3M Q1 Bid</li>
    </ol>
  </nav>

  <div class="row d-flex align-items-center">
    <div class="col col-5">
      <h4>3M Q1 Bid</h4>
      <p class="text-muted mb-0">Last modified August 2nd, 2018 11:00 AM CST</p>
    </div>
    <div class="col-7 text-right">
      <h6>Status <span class="badge badge-primary">Open</span></h6>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col col-4">
      <h4 class="mb-3">Overview</h4>
      <ul class="list-unstyled">
        <li><b>Client</b><span class="float-right">Pepsi</span></li>
        <li><b>Account ID</b><span class="float-right">2323012</span></li></li>
        <li><b>Opprotunity ID</b><span class="float-right">555555</span></li></li>
      </ul>
    </div>

    <div class="col col-8">
      <!--Size-->
      <h4 class="mb-3">Opprotunity Size</h4>
      <b>Total annual volume of lanes</b><span class="float-right">4,928</span>
      <!--Strategy Coverage-->
      <div class="status row mb-4 mt-3">
        <div class="col col-6 progress-lane-count">
          <span>Eligible for UF</b></span>
        </div>
        <div class="col col-6">
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100">77%</div>
          </div>
        </div>
      </div>
      <!--Strategy Coverage-->
      <div class="status row mb-2">
        <div class="col col-6 progress-lane-count">
          <span>Within coverage strat.</b></span>
        </div>
        <div class="col col-6">
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">55%</div>
          </div>
        </div>
      </div>

      <hr>

      <!--Progress-->
      <h4 class="mb-3">Opprotunity Progress</h4>
      <!--Coverage of volume-->
      <div class="status row mb-4">
        <div class="col col-6 progress-lane-count">
          <span><b>Lane Volume Confirmed</b></span>
        </div>
        <div class="col col-6">
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100">89%</div>
          </div>
        </div>
      </div>

      <hr>

      <!--Coverage of lanes-->
      <div class="status row mb-4">
        <div class="col col-6 progress-lane-count">
          <span><b>Lanes Confirmed</b></span>
        </div>
        <div class="col col-6">
          <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
          </div>
        </div>
      </div>

      <!--Breakdown of adjustments-->
      <div class="status row mb-4">
        <div class="col col-6 progress-lane-count">
          <span>Confirmed not adjusted</b></span>
        </div>
        <div class="col col-6">
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 76%" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100">76%</div>
          </div>
        </div>
      </div>

      <!--Breakdown of adjustments-->
      <div class="status row">
        <div class="col col-6 progress-lane-count">
          <span>Confirmed and adjusted</b></span>
        </div>
        <div class="col col-6">
          <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 24%" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100">24%</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col text-left">
      <button type="button" class="btn btn-light" ng-click="showAlert()">Delete</button>
      <button type="button" class="btn btn-light" ng-click="showAlert()">Mark as submitted</button>
      <button type="button" class="btn btn-light" ng-click="showAlert()">Download</button>
    </div>
    <div class="col text-right">
      <a href="#!/lane_filter">
        <button type="button" class="btn btn-primary">Launch Exception Tool</button>
      </a>
    </div>
  </div>
</div>
