<div class="container mt-3" ng-controller="exceptionCtrl">

    <!--Nav-->
    <nav class="mb-3" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#!/all_ops">All opportunities</a>
        </li>
        <li class="breadcrumb-item active">
          <a href="#!/opp_overview">3M Q1 Bid</a>
        </li>
        <li class="breadcrumb-item active">Confirm Estimates</li>
      </ol>
    </nav>

    <!--Success Message-->
    <div class="alert alert-success" ng-hide="selectedLane < laneData.length">
      <h4 class="alert-heading">✌ Success</h4>
      <p>You have successfully confirmed {{laneData.length}} of {{laneData.length}} lanes.</p>
      <hr></hr>
      <p class="mb-0"><a href="#!/opp_overview" class="alert-link">Go back</a> to view the opprotunity</p>
    </div>

    <!--Header-->
    <div class="status mb-4" ng-show="selectedLane < laneData.length">
      <div class="progress-lane-count mt-2 mb-3 row">
        <div class="col col-8">
          <p class="mt-2">Lane <b>{{selectedLane + 1}}</b> of <b>{{laneData.length}}</b>
            <small class="text-muted">(with annual volume of 15 to 18)</small>
          </p>
        </div>
        <div class="col col-4">
          <form>
            <div class="form-group mb-0">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Jump to lane (#)" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button">Go</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar bg-secondary" role="progressbar" ng-style="progPercentageStyle" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <hr ng-show="selectedLane < laneData.length">

    <!--Lane Geography-->
    <div class="row mb-3" ng-show="selectedLane < laneData.length">
      <div class="col col-8">
        <h4>{{laneData[selectedLane].pu}} → {{laneData[selectedLane].do}}</h4>
        <h6>
          <a target="blank" href="https://www.google.com/maps/place/{{laneData[selectedLane].pu_zip}}">{{laneData[selectedLane].pu_zip}}</a>
          <small class="text-muted">[p]</small> → <a target="blank" href="https://www.google.com/maps/place/{{laneData[selectedLane].do_zip}}">{{laneData[selectedLane].do_zip}}</a>
          <small class="text-muted">[d]</small>
          <span ng-show="selectedLane != 2" class="badge badge-success">🌵 Dry van load</span>
          <span ng-show="selectedLane == 2" class="badge badge-primary">❄️ Reefer load</span>
        </h6>
        <p class="mb-0 text-muted">Expected annual lane volume: {{laneData[selectedLane].lane_volume}}</p>
      </div>
      <div class="col col-4 text-right">
        <h5 class="text-muted">{{laneData[selectedLane].miles | number:0}} miles</h5>
        <span ng-show="selectedLane != 2" class="badge badge-warning">Estimate not yet confirmed</span>
        <span ng-show="selectedLane == 2" class="badge badge-success">Estimate already confirmed</span>
      </div>
    </div>

    <!--Map View-->
    <div class="row">
      <div class="col col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3219.94234140359!2d-115.16146048472716!3d36.19228408007829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c8c3ca01164bb1%3A0x4c1f94f887857cc5!2sLas+Vegas%2C+NV+89106!5e0!3m2!1sen!2sus!4v1539021969074" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col col-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.5689687015138!2d-73.98225318459451!3d40.72750427933021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25893c45d1643%3A0x603ac2f350ab72a2!2sNew+York%2C+NY+10009!5e0!3m2!1sen!2sus!4v1539022018353" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="card" ng-show="selectedLane < laneData.length">
      <div class="card-body">
      <!--Truck estimation-->
      <div class="row">
        <div class="col col-8">
          <h5>Step 1: Review Avg. Historical Truck Cost</h5>
        </div>
        <div class="col text-right col-4">
          <h5>${{baseEstimate | number:2}}</h5>
        </div>
      </div>
      <p class="text-muted">Estimated August 2nd, 2018 11:00 AM CST with a <b>variance of 18%</b></p>

      <div class="estimation">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center" ng-repeat="rowestimate in laneData[selectedLane].rates">{{rowestimate.name}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center" ng-repeat="rowestimate in laneData[selectedLane].rates">${{rowestimate.price | number:0}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <hr></hr>

      <!--warning-->
      <div class="alert alert-danger mt-2" role="alert" ng-show="selectedLane == 2">
        The difference of ({{adjustedPercentage | number:0}}%)</b> seems to be a mistake
      </div>
      <!--Select markup manually-->
      <div class="row">
        <div class="col col-8">
          <h5>Step 2. Confirm Truck Cost</h5>
          <span class="text-muted">Use your [a] left and right [s] arrow keys to adjust the truck cost</span>
        </div>
        <div class="col col-4 text-right">
          <div class="form-group mb-0">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">$</span>
              </div>
              <input type="number" class="form-control text-center form-control-lg" placeholder="Amount (to the nearest dollar)" ng-model="truckCost" min="0">
            </div>
          </div>
        </div>
        <!-- <ul class="quick-select-indicator nav nav-pills nav-justified mt-2">
          <li class="nav-item" ng-repeat="adjustOption in truckCostIncrements">
            <a class="nav-link disabled small" ng-class="{active: $index == truckCostIndex}" ng-click="truckCostIndex = $index">{{100 + ((adjustOption - 1) * 100) | number:0}}%</a>
          </li>
        </ul> -->
      </div>

      <!--Lane prev adjusted flag-->
      <div class="row mt-3" ng-show="selectedLane == 2">
        <div class="col text-muted">
          <span class="badge badge-success">Confirmed</span>
          August 5th, 2018 3:28 PM
        </div>
        <div class="col text-right text-muted">$1,501</div>
      </div>

      <!--Select an overage reason label-->
      <form class="form" ng-show="selectedLane == 2" >
        <hr>
        <div class="form-group">
          <label>Why is the truck cost you entered significantly different than the historical estimate?</label>
          <select class="form-control form-control-lg">
            <option>No reason selected</option>
            <option>[q] Seasonality not factored into estimates</option>
            <option>[w] High variance between estimates</option>
            <option>[e] Undesirable lane (Geography)</option>
            <option>[r] Don’t trust estimates</option>
          </select>
        </div>
      </form>

      <hr></hr>

      <!--Select markup manually-->
      <div class="row">
        <div class="col col-8">
          <h5>Step 3. Adjust Markup</h5>
          <span class="text-muted">Use your [←] left and right [→] arrow keys to adjust the markup</span>
        </div>
        <div class="col col-4 text-right">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">%</span>
              </div>
              <input type="number" class="form-control text-center form-control-lg" placeholder="Percentage" min="0" max="0" value="0.7%">
            </div>
            <!-- <ul class="quick-select-indicator nav nav-pills nav-justified mt-2">
              <li class="nav-item" ng-repeat="adjustMarkup in truckCostIncrements">
                <a class="nav-link disabled small" ng-class="{active: $index == selectedIndex}">{{(adjustMarkup * 100) - 100 | number:0}}%</a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>

      <div class="row text-primary mt-3">
        <div class="col col-8">
          This is the rate we will charge before deducting fuel surcharge
        </div>
        <div class="col col-4 text-right">
          <b>${{selectedEstimate | number:2}}</b>
        </div>
      </div>
      <button type="button" class="btn btn-light btn-sm btn-block mt-3">Continue</button>

      <!--Reason codes-->
      <!-- <div class="form-group" ng-show="selectedEstimate <= lowerBound || selectedEstimate >= upperBound" class="form-group">
          <label for="exampleInputEmail1">Why is the the price you entered <b>{{adjustedPercentage | number:0}}%</b> <span ng-show="adjustedPercentage > 0">above</span><span ng-show="adjustedPercentage < 0">below</span> the estimate?</i></label>
          <ul class="list-group">
            <li class="list-group-item" ng-class="{active: reasonlist == 0}">Seasonality</li>
            <li class="list-group-item" ng-class="{active: reasonlist == 1}">Future market conditions</li>
            <li class="list-group-item" ng-class="{active: reasonlist == 2}">Price this load out</li>
            <li class="list-group-item" ng-class="{active: reasonlist == 3}">You know Im not even sure</li>
          </ul>
      </div> -->
    </div>
</div>
